<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOaweIin9qLdfJ_5pHxIEPORDQhfNMWKU</string>
	<key>GCM_SENDER_ID</key>
	<string>632431509181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartLunchBox</string>
	<key>PROJECT_ID</key>
	<string>smart-lunch-box</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-lunch-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632431509181:ios:7e8acf215b3302655581d4</string>
</dict>
</plist>